@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto+Slab:wght@100..900&display=swap');

* {
    font-family: "Manrope", sans-serif !important;
    font-optical-sizing: auto;
}

body {
    background-color: #0f172a; /* slate-900 */
    color: #f1f5f9; /* slate-100 */
}